<form autocomplete="off" [formGroup]="_servi.form">
  <h4 class="text-center"><strong>{{ _servi.form.get('id_usuario')?.value ? "ACTUALIZAR":"CREAR"}}</strong></h4>
  <div class="row justify-content-center">

      <div class="col-lg-12">
        <mat-form-field appearance="fill">
          <mat-label>Rol</mat-label>
          <mat-select formControlName="Cod_rol" name="food">
            <mat-option *ngFor="let item of (_servi.responseroles$|async)" [value]="item.Cod_rol">
              {{item.Rol}}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Sedes</mat-label>
            <mat-select formControlName="Cod_sede" name="food">
              <mat-option *ngFor="let item of (_servi.responseSede$|async)" [value]="item.Cod_sede">
                {{item.Nombre_sede}}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="legacy">
              <mat-label>Nombre usuario </mat-label>
               <input matInput formControlName="nombre_usuario">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" appearance="legacy">
            <mat-label>Contraseña </mat-label>
             <input matInput formControlName="pass">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="legacy">
          <mat-label>Correo electronico </mat-label>
           <input matInput formControlName="correo_electronico">
      </mat-form-field>
      <br>
        <mat-form-field appearance="fill">
          <mat-label>Estado usuario</mat-label>
          <mat-select formControlName="estado_usuario" name="food">
            <mat-option value="A">Activo</mat-option>
            <mat-option value="I">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
          <div class="text-center">
              <button mat-raised-button  class="btn btn-primary p-2" color="accent" (click)="guardar()">{{_servi.form.get('id_usuario')?.value ? "ACTUALIZAR ":"CREAR"}}</button>
              <button mat-raised-button color="warn" class="btn btn-danger p-2"  (click)="cerrarmodal()">Cerrar</button>
          </div>
      </div>

  </div>
</form>
