
<div>
  <div class="col-md-12">
      <nav aria-label="breadcrumb">
          <div>
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Permisos</li>
              </ol>
          </div>
      </nav>
      <mat-card class="example-card">
          <mat-card-header>
              <mat-card-title>Permisos</mat-card-title>

          </mat-card-header>
          <mat-card-content>
         
            <div class="row">
                <div class="col-lg-2">
                        <mat-form-field class="example-full-width" appearance="legacy">
                          <mat-label>Buscar </mat-label>
                           <input matInput  [(ngModel)]="buscar">
                      </mat-form-field>
                 </div>
                 <div class="col-lg-1">
                    <button type="button" class="btn btn-danger" (click)="impo()">
                        PDF
                    </button>
                </div>
            </div>

              <div class="text-right">
                  <button mat-raised-button class="btn btn-primary" (click)="crear()">
                      <i class="fas fa-laptop-medical"></i>
                      <span style="margin-left: 10px;">Crear permiso</span>
                  </button> 
              </div>
              <div  id="reporte" class="table-responsive mt-4 ">
                  <table class="table table-striped" >
                      <thead>
                          <tr>
                              <th scope="col " role="columnheader" class="text-center">Codigo</th>
                              <th scope="col " role="columnheader" class="text-center">Rol</th>
                              <th scope="col " role="columnheader" class="text-center">Objeto</th>
                              <th scope="col " role="columnheader" class="text-center">Permiso insertar</th>
                              <th scope="col " role="columnheader" class="text-center">Permiso eliminar</th>
                              <th scope="col " role="columnheader" class="text-center">Permiso actualizar</th>
                              <th scope="col " role="columnheader" class="text-center">Permiso consultar</th>
                              <th scope="col " role="columnheader" class="text-center" id="d">ACCIONES</th>
                          </tr>
                      </thead>
                      <tbody role="rowgroup">
                          <tr id="some"
                              *ngFor="let item of (service.responsepermiso$ | async)! | slice:d:h | FILTER:buscar:campo">
                              <td role="cell " data-title="ROL" class="text-center">{{item.Cod_permiso | uppercase}}</td>
                              <td role="cell " data-title="DESCRIPCION" class="text-center">{{item.Rol | uppercase}}</td>
                              <td role="cell " data-title="DESCRIPCION" class="text-center">{{item.Nombre_objeto | uppercase}}</td>
                              <td role="cell"> <mat-slide-toggle class="example-margin" [checked]="item.Permiso_insertar == 1 ? true : false" (change)="editarrol(item,'insertar')"></mat-slide-toggle></td>
                              <td role="cell"><mat-slide-toggle class="example-margin" [checked]="item.Permiso_eliminar == 1 ? true : false" (change)="editarrol(item,'eliminar')"></mat-slide-toggle></td>
                              <td role="cell"><mat-slide-toggle class="example-margin" [checked]="item.Permiso_actualizar == 1 ? true : false" (change)="editarrol(item,'editar')"></mat-slide-toggle></td>
                              <td role="cell"><mat-slide-toggle class="example-margin" [checked]="item.Permiso_consultar == 1 ? true : false" (change)="editarrol(item,'mostrar')"></mat-slide-toggle></td>
                              <th id="d" role="cell" class="text-center" data-title="Acciones">
                                  <button *ngIf="permisoeliminar" mat-mini-fab class="btn btn-danger" (click)="eliminar(item.Cod_permiso)">
                                    <mat-icon>delete_forever</mat-icon>
                                  </button>
                              </th>
                          </tr>
                      </tbody>
                  </table>

                  <mat-paginator id="d"  [length]="(service.responsepermiso$  | async)?.length" [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions" (page)="cambioPagina($event)">
                  </mat-paginator>
              </div>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
      </mat-card>
  </div>

</div>


