<div class="dark-body-only" id="outer-container">KERIM #E9E9E9  #5887C9
  <!-- page-wrapper Start-->
  <div class="page-wrapper"  [ngClass]="customizer.data.settings.sidebar.type"  id="canvas-bookmark">
    <app-header></app-header>
    
    <!-- Page Body Start-->
    <div class="page-body-wrapper" [ngClass]="customizer.data.settings.sidebar.body_type">
      <div class="page-sidebar" id="pages-sidebar" [class.open]="navServices.collapseSidebar" [ngClass]="customizer.data.settings.sidebar_backround"
      [attr.sidebar-layout]="this.customizer.data.settings.sidebar_setting">
        <!-- <app-sidebar></app-sidebar>-->
        <app-sidebar></app-sidebar>
    </div>
      <div class="page-body" style="margin-top: 29px;padding: 0px;min-height: 0px;">
        <!--<app-breadcrumb></app-breadcrumb>-->
        <main>

          

          <router-outlet></router-outlet>
        </main>
      </div>
      <!-- footer start
      <footer class="footer">
        <app-footer></app-footer>
      </footer>-->
      <!-- footer End-->
    </div>
    <!-- Page Body End-->
  </div>
  <!-- page-wrapper End-->
</div>